{% if blog_post %}
			<div class="shadow card-body mb-4 p-md-5 mx-md-4"> 
					<h4>Blog Post</h4>
					<hr>
					<p>Words: {{ blog_post|safe|wordcount }}</p>
					<div id="myInput2" class="card-text">{{ blog_post|safe }}</div>
	
				<div class="d-grid gap-2">
					<button onclick="myCopy()" class="btn btn-success">Copy <i class="fa fa-copy"></i></button>
					<button hx-post="{% url 'rewrite_post' %}" hx-target="#rewrite" hx-swap="innerHTML" hx-push-url="true" hx-indicator="#spinnerR" class="btn btn-info mb-4">Rewrite <i id="spinnerR" class="htmx-indicator fa fa-refresh fa-spin fa-2x fa-fw"></i>
					<span class="sr-only"> Loading...</span>
					</button>
				</div>
			</div>
{% endif %}