{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
	{% if form.errors %}
		<div class="col-12 mt-5">
		<div class="shadow card-body">
			<div class="card-text text-danger" href="#" data-dismiss="alert">Username or password not correct. Please enter a valid username and password.</div>
		</div>
		</div>
	{% endif %}
		<div class="col-12 mt-5">
		<h2>Login</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-primary" type="submit">Login</button>
			</form>

{% endblock content %}