{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
		<div class="col-6">
			<form class="" hx-post="{% url 'get_youtube_link' %}" hx-target="#results" hx-swap="innerHTML" hx-push-url="true" hx-indicator="#spinner" method="post">
			{% csrf_token %}
				<label form="title" class="form-label">Generate YouTube link</label>
				<input type="text" class="form-control form-control-lg" name="youtube_link" placeholder="Enter the link"/>
				<button class="btn btn-secondary mt-4 mb-4 float-right" type="submit">Generate</button><img id="spinner" class="htmx-indicator" src="https://i.imgur.com/8THYvPQ.gif"><i id="spinner" class="htmx-indicator fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only"> Loading...</span>
			</form>
		</div>
		
	
	
		<div id="results">
			{% include "youtube_results.html" %}
		</div>
		
	
	
</div>
</div>
			
{% endblock content %}
			
