{% if youtube_add_link %}
			<div class="col-12">
				<div class="shadow card-body mb-4 p-md-5 mx-md-4"> 
					<h4>Blog Post</h4>
					<hr>
					<div id="myInput4">
					<p class="card-text">{{ blog_post_1|safe }}</p>
					<a href="{{ youtube_add_link }}">{{ youtube_add_link|safe }}</a>
					<br/>
					<p>{{ blog_post_2|safe }}</p>
					</div>
	
				<div class="d-grid gap-2">
				<button onclick="myCoppyy()" class="btn btn-success">Copy<i class="fa fa-copy"></i></button>
				</div>
				</div>
			</div>
	{% endif %}
			